/* --------------------------------------------------
// Cookie Bar Engine v1.1 - Stylesheet
//
// ©2012 Semantic Ltd. All Rights Reserved.
// ----------------------------------------------- */

/* Cookie Bar Styles */

#cookieBarArea {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: right;
	z-index: 10000;
}

#cookieBar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background: #363636;
	font-size: 15px;
	line-height: 18px !important;
	text-align: left;
	
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
}

#cookieBar #cookieBarText {
	margin: 8px 120px 8px 10px;
	font-weight: 700;
	color: #fff;
}

#cookieBar #cookieBarButtons {
	position: absolute;
	top: 10px;
	right: 5px;
}

/*#cookieBar #cookieBarButtons a {
	display: block;
	padding: 5px 5px 3px;
	margin: 0px;
	background: #861315;
	border: 2px solid #e60005;
	font-family: "LeagueGothicRegular", sans-serif;
	font-size: 22px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
#cookieBar #cookieBarButtons a:visited {
	background: #861315;
}
#cookieBar #cookieBarButtons a:hover {
	background: #e60005;
}
*/