﻿.btn {
    padding: 5px 26px;
    display: inline-block;
    transition: 900ms all cubic-bezier(.83,.34,.09,.99);
    overflow: hidden;
    position: relative;
    background-color: darken($logoBlue,5%);
    //background-color: $white;
    > .btn__text {
        position: relative;
        z-index: 2;
        //color: $white;
        color: $white;
        transition: 500ms all ease-in-out;
    }

    &:after {
        content: "\0020";
        position: absolute;
        top: 0;
        left: -110%;
        width: 100%;
        height: 100%;
        display: block;
        transition: 500ms all ease;
        background-color: lighten($lightBlue,20%);
        //background-color: $lightBlue;
        z-index: 1;
    }

    .side & {
        //background-color: lighten($logoBlue,15%);
        background-color: $pink;

        .btn__text {
            color: $white;
        }
    }

    &.light {
        //background-color: lighten($logoBlue,15%);
        background-color: $pink;

        .btn__text {
            color: $white;
        }
    }

    &:hover {
        text-decoration: none !important;

        &:after {
            left: 0;
        }

        .btn__text {
            color: $white;
        }
    }
}

.panel {
    &.light {
        .btn {
            background-color: darken($logoBlue,5%);

            > .btn__text {
                color: $white;
            }

            &:after {
                background-color: lighten($lightBlue,20%);
            }

            .side & {
                background-color: lighten($lightBlue,20%);

                .btn__text {
                    color: $white;
                }
            }

            &:hover {
                text-decoration: none !important;

                .btn__text {
                    color: $white;
                }
            }
        }
    }
}

