﻿fieldset,.submit-area{
    padding: 15px
}

fieldset {
    background-color:aliceblue;

    input, textarea {
        width: 100%;
    }

    select {
        width: 35%;
    }

    input, textarea {
        padding: 4px;
    }

    label{
        font-weight: bold;
    }

    input[type="radio"], input[type="checkbox"] {
        box-sizing: border-box;
        padding: 0;
        width:auto;
    }

    .help-block{
        display:block;
        font-size:0.79rem;
        line-height:1.2;
        margin-bottom:5px;
        opacity: .7;
    }

    .important-field{
        color: $pink;
        font-weight: bold;
    }
}

.submit-area {
    background-color: darken(aliceblue,6%);
    input[type="submit"] {
        border: 0;
        outline: 0;
        border-radius: 0;
        color: $white;
        cursor:pointer;
    }
}

form{
    border:1px solid darken(aliceblue,12%);
}

.form-field:not(:last-child){
    margin-bottom: 10px;
}