﻿.panel {
    position: relative;

    &.light {
        .panel__content {
            //background-color: rgba(253, 2, 159, .12);
            //color: $darkBlue;

            &.side {
                background-color: rgba(253, 2, 159, .12);
                color: $darkBlue;

                h1, h2, h3, h4, h5{
                    color: $darkBlue;
                }
            }
        }
    }

    .panel__content {
        padding: 20px;
        background-color: #d6ebf2;
        color: $darkBlue;

        > h2, h3, h4, h5, h6 {
            + img {
                margin-bottom: 5px;
            }
        }

        .nav-item-box & {
            background-color: inherit;
        }

        &.side {
            background-color: $darkBlue;
            color: $white;

            h1, h2, h3, h4, h5 {
                color: $white;
            }
        }

        &.panel__content-text-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    p:last-child, p:only-child {
        margin-bottom: 0;
    }
}

a.nav-item-box {
    .panel {
        display: block;
        overflow: hidden;

        &.has-pic {
            .panel__img {
                min-height: 160px;
                position: relative;
                margin: 0;
                padding: 0;
                transform: scale(1.2);
                transform-origin: center;
                transition: 1s all ease;

                @include breakpoint(small-tablet) {
                    min-height: 235px;
                }

                &:after {
                    content: "\0020";
                    width: 100%;
                    height: 100%;
                    background-color: #70054e; 
                    opacity: .27;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: 1.7s all ease;
                }

                > span {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-size: cover;
                    background-position: center;
                }
            }
        }

        .panel__content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-content: center;
            align-items: center;
            transform-origin: center;
            backface-visibility: hidden;
            transition: 1s all ease;
            transform: scale(1);

            > .panel__content-link-title {
                width: 100%;

                h1, h2, h3, h4, h5 {
                    color: $white;
                }
            }
        }

        &.zoom-hover {

            &:hover {
                .panel__img {
                    transform: scale(1);

                    &:after {
                        opacity: .36;
                    }
                }

                .panel__content {
                    transform: scale(1.11);
                }
            }
        }
    }
}