﻿.table-wrapper {
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    display: block;
    margin: 0 0 20px 0;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
    text-align: left;
    white-space: nowrap;
}

@media(min-width:736px) {
    table {
        white-space: normal;
    }
}

th {
    font-size: inherit;
    padding: 12px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: white;
    color: #fff;
    background-color: mediumvioletred;
}

td {
    padding: 12px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
    white-space: normal;
    min-width: 330px;
    background-color: lighten(hotpink,26%);
}

@media(min-width:736px) {
    td {
        width: 33%;
        max-width: 33%;
    }
}

td {
    border-color: white;
    text-align: left;
    vertical-align: top
}

tr > td:first-child {
    font-weight: 700;
}
