﻿h1,h2,h3,h4,h5,h6{
    font-weight:400;
}

h1,h2,h3{
    font-family: $serifFont;
    font-weight: 400;
    color: $darkBlue;
}

h4,h5,h6{
    font-weight: 700;
}

h1 {
    font-size: 1.8rem;
    line-height: 1.25;

    @include breakpoint(small-tablet) {
        font-size: 1.9rem;
    }

    @include breakpoint(large-tablet) {
        font-size: 2rem;
    }
}