﻿body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

img {
    width: 100%;
    height: auto;
    user-select: none;
}

a {
    text-decoration: none;
    //color:inherit;
    color: $pink;

    &:hover {
        text-decoration: underline;
        color: inherit;
    }

    &:focus {
        color: inherit;
    }

    &:active {
        color: inherit;
    }
    /*main &:not(.btn):not(form.a) {
        text-decoration: underline;
        transition: 500ms all ease;
        color: $white;
    }*/
    .panel .side & {
        color: inherit;
    }
}

.panel .side a:not(.btn) {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.white {
    color: $white;
}

.black {
    color: $black;
}

.orange-bg {
    background-color: $orange;
}

.purple-bg {
    background-color: $purple;
}

.blue-bg {
    background-color: $blue;
}

.grey-bg {
    background-color: $grey;
}

.pink {
    color: $pink;
}

.page-wrapper {
    margin-top: 65px;
}

.p-vacuum {
    font-size: 0;
    line-height: 0;
}

.img, .has-pic {
    background-size: cover;
    background-position: center;
}

.no-top-m {
    margin-top: 0 !important;
}
