﻿/* ==========================================================================
    Breakpoints!
    ========================================================================== */

@mixin breakpoint($point, $target: false) {
    @if $point == small-tablet and $target == false {
        @media (min-width: $small-tablet) {
            @content;
        }
    }
    @else if $point == large-tablet and $target == false {
        @media (min-width: $large-tablet) {
            @content;
        }
    }
    @else if $point == full and $target == false {
        @media (min-width: $full) {
            @content;
        }
    }
    @else if $point == xtra and $target == false {
        @media (min-width: $xtra) {
            @content;
        }
    }
    @else if $point == high and $target == false {
        @media (min-width: $high) {
            @content;
        }
    }
    @else if $point == mobile {
        @media (max-width: 479px) {
            @content;
        }
    }
    @else if $point == small-tablet and $target == true {
        @media (min-width: $small-tablet) and (max-width: $large-tablet) {
            @content;
        }
    }
    @else if $point == large-tablet and $target == true {
        @media (min-width: $large-tablet) and (max-width: $full) {
            @content;
        }
    }
    @else if $point == full and $target == true {
        @media (min-width: $full) and (max-width: $xtra) {
            @content;
        }
    }
}

@mixin breakpoint-max($point) {
    @if $point == small-tablet {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $point == large-tablet {
        @media (max-width: 979px) {
            @content;
        }
    }
    @else if $point == full {
        @media (max-width: 1251px) {
            @content;
        }
    }
}
// Breakpoint based show/hide mixins

@mixin breakpoint-display($mobile, $small-tablet, $large-tablet, $full, $xtra) {
    display: $mobile !important;

    @include breakpoint(small-tablet) {
        display: $small-tablet !important;
    }

    @include breakpoint(large-tablet) {
        display: $large-tablet !important;
    }

    @include breakpoint(full) {
        display: $full !important;
    }

    @include breakpoint(xtra) {
        display: $xtra !important;
    }
}

@mixin hide-for($point) {
    @include breakpoint($point) {
        display: none !important;
    }
}

@mixin show-for($point) {
    display: none !important;

    @include breakpoint($point) {
        display: inherit !important;
    }
}


/* ==========================================================================
    MIXIN's
    ========================================================================== */

@mixin backgroundGradientBottomText($opacityPoint) {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+70,0.17+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,$opacityPoint) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,$opacityPoint) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,$opacityPoint) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#2b000000',GradientType=0 ); /* IE6-9 */
}

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

@mixin appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-top-radius($radius) {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin transform-origin($origin) {
    -webkit-transform-origin: $origin;
    -moz-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -o-transform-origin: $origin;
    transform-origin: $origin;
}

@mixin backface-visibility($visibility) {
    -webkit-transform-origin: $visibility;
    -moz-transform-origin: $visibility;
    -ms-transform-origin: $visibility;
    -o-transform-origin: $visibility;
    transform-origin: $visibility;
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transition-property($property...) {
    -webkit-transition-property: $property;
    -moz-transition-property: $property;
    -ms-transition-property: $property;
    -o-transition-property: $property;
    transition-property: $property;
}

@mixin transition-duration($duration...) {
    -webkit-transition-duration: $duration;
    -moz-transition-duration: $duration;
    -ms-transition-duration: $duration;
    -o-transition-duration: $duration;
    transition-duration: $duration;
}

@mixin user-select($mode) {
    -webkit-user-select: $mode;
    -moz-user-select: $mode;
    -o-user-select: $mode;
    -ms-user-select: $mode;
    user-select: $mode;
}

@mixin opacity($level) {
    -webkit-opacity: $level;
    -moz-opacity: $level;
    -ms-opacity: $level;
    -o-opacity: $level;
    opacity: $level;
}

@mixin columns($colCount, $colGap) {
    -webkit-columns: $colCount;
    -moz-columns: $colCount;
    columns: $colCount;
    -webkit-column-gap: $colGap;
    -moz-column-gap: $colGap;
    column-gap: $colGap;
}
