﻿// Colours
$white:             #fff;
$black:             #000;
$darkBlue:          #223d58;
$lightBlue:         #4172a2;
$logoBlue:          #364b68;
$logoLightBlue:     #aedff0;
$orange:            #FFB019;
$purple:            #9328CC;
$blue:              #197AFF;
$grey:              rgba(0, 0, 0,.06);
$pink:              #fd029f;

// Fonts
$serifFont: 'Bitter', serif;

// Breakpoints bootsrap
$small-tablet:      576px;
$large-tablet:      768px;
$full:              992px;
$xtra:              1200px;
$high:              1600px;