﻿footer{
    padding: 50px 0;
    background-color: $logoBlue;
    color:$white;
    width: 100%;
    font-size: 0.9rem;
    margin-top: 3rem;
    a,a:visited{
        color:inherit;
    }
    a:hover{
        color:#fff;
    }
    .nav__social{
        ul{
            list-style: none;
            margin:0;
            padding:0;
            li{
                display:inline-block;
                font-size: 1.4rem;
                margin: 5px 0;
                &:not(:last-child){
                    margin-right: 7px;
                }
            }
        }
    }
}