﻿header {
    height: 65px;
    background-color: $logoBlue;
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 51;

    @include breakpoint(small-tablet) {
        position: fixed;
    }

    .site-logo {
        max-width: 150px;
        margin-left: -6px;
        position: relative;
        z-index: 52;

        @include breakpoint(large-tablet) {
            max-width: 180px;
        }
    }

    .container, .row {
        height: 100%;
    }

    .btn {
        text-decoration: none;
        margin-left: auto;
        font-family: $serifFont;
        font-weight: 400;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin-left: 300px;
        }
    }

    #menu--trigger {
        cursor: pointer;
        width: 60px;
        height: 20px;
        margin: 0;
        z-index: 101;
        position: relative;
        pointer-events: all;

        > span {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 19px;
            height: 8px;
            margin-left: -9px;
            margin-top: -6px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
            /*> span {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $white;

                &:nth-child(2) {
                    top: 5px;
                }

                &:nth-child(3) {
                    top: 10px;
                }
            }*/
            > span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: #fff;
                opacity: 1;
                left: 0;
                border-radius: 6px;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;

                &:nth-child(1) {
                    top: 0px;
                }

                &:nth-child(2) {
                    top: 5px;
                }

                &:nth-child(3) {
                    top: 10px;
                }
            }

            &.menu-is-open span:nth-child(1) {
                top: 5px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }

            &.menu-is-open span:nth-child(2) {
                opacity: 0;
                left: -35px;
            }

            &.menu-is-open span:nth-child(3) {
                top: 5px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
        }
    }

    #nav-is-open {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }

    * {
        user-select: none;
    }
}
