﻿/*#nav-is-open:checked ~ #nav, #nav.nav--open {
    visibility: inherit;
    opacity: 1;
    transition: 550ms all ease;
}*/

#nav.nav--open {
    visibility: inherit;
    opacity: 1;
    transition: 550ms all ease;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    @include user-select(none);
    z-index: 50;
    background-color: $logoBlue;
    overflow-y: auto;
    opacity: 0;
    transition: none;
    transition: 300ms all ease;


    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav__listing {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            justify-content: flex-start;
        }

        @include breakpoint(large-tablet) {
            align-items: center;
        }

        ul {
            margin-top: auto;
            margin-bottom: auto;

            li {
                font-family: $serifFont;
                font-size: 1.4rem;
                line-height: 1.8;

                @include breakpoint(large-tablet) {
                    font-size: 1.99rem;
                    line-height: 1.6;
                }

                a {
                    color: $white;
                    display: inline-block;
                    position: relative;
                    overflow: hidden;

                    &:hover {
                        text-decoration: none;

                        &:after {
                            display: block;
                        }
                    }

                    &:after {
                        content: "\0020";
                        position: absolute;
                        bottom: 5px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: $pink;
                        display: none;
                    }
                }
            }
        }

        .nav__logo {
            margin-bottom: 35px;
        }

        .nav__social {
            margin-bottom: 20px;

            ul {
                li {
                    font-size: 1.7rem;

                    &:not(:last-child) {
                        margin-right: 35px;
                    }
                }
            }
        }

        .nav__social, .nav__footer {

            ul {
                width: 100%;

                li {
                    display: inline-block;

                    a {
                        &:after {
                            content: none;
                        }
                    }
                }
            }
        }

        .nav__footer {
            margin-bottom: 35px;

            ul {

                li {
                    font-size: .85rem;
                    line-height: 1.3;
                    opacity: 0.4;

                    @include breakpoint(large-tablet) {
                        opacity: 1;
                    }

                    &:not(:last-child) {
                        margin-right: 10px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}
